# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# OS
.DS_Store

# Data outputs (keep folders, not files)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Reports outputs
reports/figures/*
!reports/figures/.gitkeep